import { createBrowserRouter } from "react-router-dom";
import type { RouteObject } from "react-router-dom";
import Layout from "./Layout";
// ex:import Home from "./Home";
// ex:import About from "./About";

const routes: RouteObject[] = [
  {
    path: "/",
    element: <Layout />,
    children: [
//      { index: true, element: ex:<Home /> },
//      { path: "ex:about", element: ex:<About /> },
    ],
  },
];

const router = createBrowserRouter(routes);

export default router;
